/*
 * Start Bootstrap - Heroic Features (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

body {
    //padding-top: 0px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.hero-spacer {
   /* margin-top: 50px;*/
}

.hero-feature {
    margin-bottom: 5px;
}

footer {
    margin: 50px 0;
}
.main-content{
  /*padding: 0 17% 0 17%;  */
  margin-top: 20px;
}
.temprature{
    background: #ab1522 none repeat scroll 0 0;
    border-radius: 4%;
    padding: 2%;
    text-align: center;
    margin-bottom: 2%;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #fff;
}
.led:hover{
    /*background: grey;*/
    color: black;
    cursor: pointer;
}
.server.temprature{
    box-shadow: 1px 1px 2px 2px gray;
}
.no-gutter{
    margin: 0px;
    padding: 0px;
}
.led{
    background: lightgray;
    text-align: center;
    height: 200px;
    color: black;
}
.data-set{
 background-color: lightgray;
 padding: 2%;
 border-radius: 5px;
}

.lowerfooter{
    background: #428bca none repeat scroll 0 0;
    color: white;
    font-family: verdana;
    font-size: 16px;
    height: 70px;
    padding-top: 20px;
    text-align: center;
}
.navbar-inverse .navbar-nav>li>a {
    color: white;
}
.navbar-inverse .navbar-brand {
    color: white;
}
.navbar-inverse .navbar-brand:hover{
    color: lightgray;

}
.collapse.navbar-collapse .nav.navbar-nav>li>:hover {
    color: lightgray;
}

.navbar-inverse .navbar-brand.active{
    color: lightgray;
}
.acload{
    background: lightgray;
    color: #000;
    text-align: center;
    padding: 1%;
    border-radius: 11px;
    cursor: pointer;
    width: 160px;
    margin-top: 25px;
    margin-bottom: 25px;

}

/* signin page start here*/
.login_text
{
    font-size: 22px;
    color: #ab1522;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
}
/* signin page end here*/
/*
----------------------------------------------------

    Footer start here

----------------------------------------------------
*/
/*footer start here*/
.footerTop {
    background: url(../images/elem-new.png);
    height: 107px;
    background-size: 100% 100%;
}

.footer-main {
    background-color: #000000;
    /*margin-top: 20px;*/
    /* padding-top: 40px;*/
}

.footer-main-1 {
    padding: 30px 0 40px;
}

.footer-contact {
    color: #FFF;
    border: 2px solid #FFF;
    font: 18px/135% "Aller", Arial, Helvetica, sans-serif;
    display: inline-block;
    padding: 10px 35px;
}
.footer-contact:hover{
    background: #AB1522;
    color: #fff;
}

.footer-p-text {
    color: #ffffff;
    font: 14px "AllerLt", Arial, Helvetica, sans-serif;
    margin: 0 0 5px;
    margin-top: 10px;

}

.footer-comp-box {
    background: #000 none repeat scroll 0 0;
    border: 2px solid #fff;
    margin-left: 30%;
    padding: 15px;
    text-align: center;
    width: 76%;
}

.footer-comp-text {
    margin-bottom: 5px !important;
    color: #fff;
}

.social_footer {
    font-size: 16px;
    margin-right: 6px;
    margin-left: 6px;
}

.social_icons_footer {
    margin-top: 6px;
}

.social_icons_footer > a {
    text-decoration: none !important;
}

/*

----------------------------------------------------

    Footer end here

----------------------------------------------------

*/

/*
----------------------------------------------------

    header start here

----------------------------------------------------
*/
.header_submenu_ancor
{
    text-decoration: none!important;
    color:#fff;
}
.header_submenu_ancor:hover
{
    color: #fff;
}
.header-ancor
{
    text-decoration: none!important;
    color: #333!important;
}
.header-ancor:hover
{
    color: #fff!important;
}
.header_ancor_menu
{
    color: #ffffff;
}
.header_ancor_menu:hover
{
    color: #ffffff;
}

.menuitem {
    text-transform: uppercase;
}

.nogutter {
    padding: 0;
}

.clear {
    clear: both;
}

.headerbox {
    height: 89px;
}

.menubox {
    float: right;
    height: 100%;
    margin: 0;
}

.menuitem {
    list-style: none;
    float: left;
    padding: 30px 18px;
    padding-bottom: 40px;
}

.social {
    cursor: pointer;
    float: right;
    margin-right: 11px;
    margin-top: 31px;
}

.logo {
    padding-left: 10px;
    padding-top: 2px;
}

.drawericon {
    /*background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;*/
    color: white;
    cursor: pointer;
    float: right;
}

.strip {
    height: 12px;
    background: url("../images/strip.png");
    width: 100%;
}
.strip_ancor:hover{
    color: #333;
    text-decoration: none!important;
}


/*toggle rotate header start here*/
.right_nav_bars {
    float: right;
}

/* Icon 1 */

#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
    width: 30px;
    height: 45px;
    position: relative;
    margin: 28px auto 50px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon1 span, #nav-icon2 span, #nav-icon4 span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #AB1522;
    border-radius: 5px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
    top: 0px;
}

#nav-icon1 span:nth-child(2) {
    top: 10px;
}

#nav-icon1 span:nth-child(3) {
    top: 20px;
}

#nav-icon2 span:nth-child(1) {
    top: 0px;
}

#nav-icon2 span:nth-child(2) {
    top: 10px;
}

#nav-icon2 span:nth-child(3) {
    top: 20px;
}

#nav-icon1.open span:nth-child(1) {
    top: 10px;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);

}

#nav-icon1.open span:nth-child(2) {
    top: 10px;
    left: -10px;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}

#nav-icon1.open span:nth-child(3) {
    top: 10px;
    left: 10px;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}

/*toggle rotate header end here*/

.social_icons {
    float: right;
}

/*small devices menu list start here*/
#nav-icon2 {
    cursor: pointer;
    display: none;
}

.main-menu-small {
    display: none;
    margin-left: 3%;
    position: absolute;
    width: 90%;
    z-index: 990;
    margin-top: 60px;
    z-index: 999!important;
}

.small-menu-ancor {
    text-decoration: none !important;
    color: #fff;
}

.small-submenu-ancor {
    text-decoration: none !important;
    color: #fff;
}

.small-menu-ul {

    list-style-type: none;
    background: rgba(74, 66, 61, 0.9) none repeat scroll 0 0;
}

.small-menu-li {
    border-bottom: 1px solid #333;
    color: #fff;
    cursor: pointer;
    list-style-type: none;
    padding: 15px;
}
.img_box{
    /*background: #ddd;*/
    padding: 10px;
}
.small-submenu-ul {
    list-style-type: none;
    background: rgba(74, 66, 61, 0.9) none repeat scroll 0 0;
}

.small-submenu-li {
    border-bottom: 1px solid #333;
    color: #fff;
    cursor: pointer;
    list-style-type: none;
    padding: 15px;
}

.small-menu-ul-active {
    z-index: 991;
}

.small-submenu-ul-active {
    z-index: 991;
}

.small-menu-li:hover .small-menu-ancor {
    color: #fff;
}

.small-submenu-li:hover .small-submenu-ancor {
    color: #fff;
}

.small-submenu-ul {
    list-style-type: none;
    display: none;
}

.small-menu-chleft {
    margin-right: 5px;
}

/*small devices menu list end  here*/
/*header submenu start here*/
.sub_menu_box {
    background: rgba(29, 28, 29, 0.9) none repeat scroll 0 0;
    left: 116px;
    list-style: outside none none;

    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 0;
    top: 89px;
    width: 100%;
    z-index: 99;
    display: none;
}

.sub_menu {
    float: left;
    margin-top: 0px;
    padding: 20px 15px;
    border: medium none;
    list-style: outside none none;
    text-align: left;
    color: #fff;
    padding-top: 5px;
    width: 30%;
}

.sub_menu2 {
    float: left;
    margin-top: 0px;
    padding: 20px 15px;
    border: medium none;
    list-style: outside none none;
    text-align: left;
    color: #fff;
    padding-top: 5px;
    width: 30%;
}

.sub_menu3 {
    float: left;
    margin-top: 0px;
    padding: 20px 15px;
    border: medium none;
    list-style: outside none none;
    text-align: left;
    color: #fff;
    padding-top: 5px;
    width: 30%;
}

.sub_menu4 {
    float: left;
    margin-top: 0px;
    padding: 20px 15px;
    border: medium none;
    list-style: outside none none;
    text-align: left;
    color: #fff;
    padding-top: 5px;
    width: 100%;
}

.sub_menu5 {
    float: left;
    margin-top: 0px;
    padding: 20px 15px;
    border: medium none;
    list-style: outside none none;
    text-align: left;
    color: #fff;
    padding-top: 5px;
    width: 60%;
}

.sub_menu6 {
    float: left;
    margin-top: 0px;
    padding: 20px 15px;
    border: medium none;
    list-style: outside none none;
    text-align: left;
    color: #fff;
    padding-top: 5px;
    width: 40%;
}

.sub_menu_item {
    margin-top: 5px;
    text-align: left;
    float: left;
    font-size: 14px;
    list-style: outside none none;
    width: 100%;
    cursor: pointer;
    padding: 10px;
    color: #fff;
}

.sub_menu_item:hover {
    background: #000;
}

.menuitem:hover {
    background: rgb(92, 85, 80) none repeat scroll 0 0;
    color: #fff;
}
.menuitem:hover .header-ancor{
    color: #fff!important;
}
.menuitem:hover .sub_menu_box {
    display: block !important;
}
/*header submenu end here*/
.slantingdiv {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../images/elem-new.png");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: 100% 100% !important;
    bottom: 0;
    height: 107px;
    position: absolute;
    z-index: 100;
}


/*
----------------------------------------------------

    header end here

----------------------------------------------------
*/
/*login modal start here*/
.modal_titles{
    font-size: 22px;
    text-align: center;
    letter-spacing: 1px;
    color: #AB1522;
    margin-top: 10px;
}
.login_field{
    height: 40px;
    border-radius: 0;
}
.login_text_field
{
    font-size: 16px;
    color: #333;
    font-weight: 600;
}
.login_error{
    font-size: 14px;
    letter-spacing: .5px;
    color: #AB1522;
}
.login_box{
    margin-top: 10px;
}
.login_button{
    height: 45px;
    background: #ab1522;
    color: #fff;
    letter-spacing: 1px;
    text-align: center;
    width: 140px;
    font-weight: 600;
    border: none;
}
.login_button:hover{
    color: #fff;
}
/*login modal end here*/

@media only screen and (min-width: 220px) and (max-width: 515px) {
    .rgt_fixed{
        display: none;
    }
    .index_slider_controller{
        margin-top: 85px;
    }
    .index_carousal_indicator{
        display: none;
    }
    .foundation_image{
        margin-left: 0%;
    }
    .main-content{
        margin-top: 83px;
    }
}
@media only screen and (min-width: 595px) and (max-width: 1024px) {
    .rgt_fixed{
        display: none;
    }

}
/*media query for header start here */
@media only screen and (min-width: 220px) and (max-width: 1024px) {
    /*footer start here*/
    .footer-main-1{
        padding: 0px 0 40px;
    }
    .footer-contact{
        font-size: 16px;
    }
    .footer-p-text{
        font-size:14px;
    }
    .footer-comp-text{
        font-size: 14px;
    }
    /*footer end here*/
    /*header responsive start here*/
    .logo_box {
        float: right;
    }
    #nav-icon2 {
        height: 50px;
        margin: 25px auto 0px;
    }
    .social-icons-row {
        margin-right: 14%;
    }
    .social {
        font-size: 18px;
        margin-bottom: 10px !important;
        margin-right: 15px !important;
        margin-top: 12px;
    }
    .index_slider_botImg{
        display: none;
    }
    .rgt_fixed {
        top: 32%;
    }
    .main-menu-large {
        display: none;
    }
    #nav-icon1 {
        display: none;
    }
    #nav-icon2 {
        display: block;
    }
    .logo {
        height: 70px;
        margin-right: 10px;
        width: 200px;
        float: right;
    }
    /*header responsive end here*/
    /*index page start here*/
}

@media only screen and (min-width: 240px) and (max-width: 320px) {
    /*header responsive start here*/
    #nav-icon2 {
        margin: 20px auto 0 !important;
    }
    .logo {
        width: 124px !important;
        height: 60px !important;
    }

    .social {
        font-size: 16px !important;
        margin-right: 10px !important;
    }

    .small-menu-ancor {
        font-size: 14px !important;
    }

    .small-submenu-ancor {
        font-size: 14px !important;
    }

    /*header responsive end   here*/
    /*footer start here*/
    .footer-address-box1
    {
        padding: 0px!important;
    }
    .footer-comp-box
    {
        margin-left:0%!important;
        padding:11px!important;
        width: 100%;
    }
    .social_footer
    {
        margin-left: 4px!important;
        margin-right: 4px!important;
    }
    /*footer end here*/
}

@media only screen and (min-width: 295px) and (max-width: 320px) {
    .logo {
        height: 65px !important;
        width: 160px !important;
    }

    .social-icons-row {
        margin-right: 23% !important;
    }
    .contact-address-box{
        padding-bottom:50px;
    }
}

/*--- Mobile portrait ---*/
@media only screen and (min-width: 320px) and (max-width: 480px) {
    /*footer start here*/
    .footer-comp-box{
        width: 100%!important;
        margin-left: 0;
    }
    /*footer end here*/
    /*header responsive start here*/
    .social-icons-row {
        margin-right: 19% !important;
    }

    .social {
        margin-right: 15px !important;
    }
    /*header responsive end here*/
}

/*--- Mobile landscape ---*/
@media only screen and (min-width: 480px) and (max-width: 595px) {
    .index_slider_controller{
        margin-top: 76px;
    }
    .social-icons-row {
        margin-right: 32% !important;
    }

    /*footer start here*/
    .footer-address-box1{
        padding: 0px!important;
    }
    .footer-comp-box
    {
        margin-left: 0px!important;
        width: 100%!important;
    }
    /*footer end here*/
}

/*--- Small tablet portrait ---*/
@media only screen and (min-width: 595px) and (max-width: 600px) {
    .index_slider_controller{
        margin-top: 120px;
    }
    .footer-comp-box
    {
        width: 70%!important;
    }
    /*index start here*/
    .testimonial_slider{
        height: 160px;
    }
    /*index end here*/
}

@media only screen and (min-width: 600px) and (max-width: 690px) {

    /*header start here*/
    .social {
        margin-right: 20px !important;
    }

    .social-icons-row {
        margin-right: 31% !important;
    }
    /*header end here*/
    /*footer start here*/
    .footer-comp-box {
        margin-left: 15%;
        margin-top: 30px;
        width: 70%;
    }
    .footer-address-box1
    {
        padding: 0px!important;
    }
    /*footer end here*/
}

/*--- Tablet portrait ---*/
@media only screen and (min-width: 690px) and (max-width: 768px) {
    /*header start here*/
    .social {
        margin-right: 20px !important;
        font-size: 20px !important;
    }
    .social-icons-row {
        margin-right: 32% !important;
    }
    /*header end here*/
    /*footer start here*/
    .footer-comp-box {
        margin-left: 15%;
        margin-top: 30px;
        width: 70%;
    }
    .footer-address-box1
    {
        padding: 0px!important;
    }
    /*footer end here*/

}

/*--- Tablet portrait ---*/
@media only screen and (min-width: 769px) and (max-width: 800px) {
    /*index start here*/
    .testimonial_slider{
        height: 140px;
    }
    .index_carousal_indicator{
        bottom: 0px;
    }
    /*index end here*/
    /*portfolio start here*/
    .dropdown-menu{
        float:left !important;
        left:0!important;
    }
    /*portfolio end here*/

}

/*--- Small tablet landscape ---*/
@media only screen and (min-width: 800px) and (max-width: 1024px) {
    /*header start  here*/
    .right_nav_bars {
        float: left !important;
    }
    .social {
        margin-right: 10px !important;
        margin-top: 24px !important;
    }
    .social-icons-row {
        margin-right: 0px !important;
    }
    /*header end  here*/

    /*footere start here*/
    .footer-comp-box{
        width: 98%!important;
    }
    .footer-main-1{
        padding: 20px 0 40px;
    }
    /*footer end here*/
}

/*--- Tablet landscape --- */

