body
{
	margin:0;
}
.progress
{
	display:none;
	margin-bottom: 20px;
	margin-left: 66%;
	margin-top: 91px;
	overflow: hidden;
	position: absolute;
	background:none;
	box-shadow:none;
	height:50px;
	width:60px;
}
.prog_load {
	width: 91%;
}
.trans {
	background: rgba(0, 0, 0, 0) url(../images/trans.png) repeat scroll 0 0;
	height: 768px;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 2000;
	display:none;
}
a:hover
{
	text-decoration:none;
}
.slider_fix
{
	background-size:100%;
}
.main_css
{
	left: 0;
	margin-top: 20px;
	position: absolute;
	top: 0;
	z-index: 100;
}

.main_container
{
	width:100%;
}
.social_menu
{
	list-style-type:none;
}
.social_menu li
{
	display:inline;
	padding:10px 0px 10px 15px;
	color:#333;
	font-size:14px;
}
.main_menu
{
	list-style-type:none;
	margin-top:10px;
}
.main_menu > a ,.sub_menu > a
{
	text-decoration:none;
	color:#333;
}
.main_menu_items
{
	display:inline;
	font-size:18px;
	color:#333;
	font-weight:bold;
	border:1px solid transparent;
	padding:10px 0px;
	border-bottom:2px solid #D32F2F;
	margin-left:26px;
	display: inline-flex;
}
.main_menu_items:hover
{
	color:#D32F2F;
	border:1px dotted #D32F2F;
}
.sub_menu {
	background: #eee none repeat scroll 0 0;
	position: absolute;
	//margin-left: 332px;
	margin-top: 10px;
	list-style: none;
	padding: 0px;
	display: none;
	z-index:1000;
}
@media screen and (-webkit-min-device-pixel-ratio:0)
  and (min-resolution:.001dpcm) {

	.sub_menu
	{
		margin-top: 10px !important;
	}

}

.ordfile {
	height: 100px;
	margin-left: 20px;
}
.form-control1 {
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 7px;
	width: 95%;
}
.inst {
	color: #666;
	font-size: 12px;
	font-weight: 600;
	line-height: 20px;
	list-style: inside none disc;
	margin-top: 6px;
}
.sub_menu_item
{
	border-bottom:1px solid #D32F2F;
	padding:5px 0;
	font-size:13px;
	height:30px;
	line-height:21px;
	transition:all 0.5s ease;
	font-weight:normal;
	padding-left:10px;
	padding-right:10px;
}
.sub_menu_item:hover
{
	background:#333;
	color:#eee;
	cursor:pointer;
}
.icons {
	height: 20px;
	margin-top: -2px;
	margin-right: 5px;
}
.main_menu_items:hover .sub_menu
{
	display:block;
}
.ws-title > div
{
	background: transparent !important;
}
.slider_header
{
	font-size:90px;
	color:white;
	font-family:calibri;
	font-weight:bolder;
}
.slider_header2 {
	color: white;
	font-family: calibri;
	font-size: 50px;
	font-weight: normal;
	margin-left: 49%;
}
.slider_header3 {
	color: powderblue;
	font-family: oswald;
	font-size: 33px;
	font-weight: bold;
	margin: 0 0 0 34%;
	padding: 0;
}
.slider_header2_desc {
	color: #ccc;
	font-family: Arial;
	font-size: 77px;
	font-weight: bolder;
	margin-left: 24%;
}
.margin_left{
	margin-left:0px;
	margin-top:50px;
}
.popular_card{
	box-shadow:0px 0px px #fff;
	border-radius:7px;
	width:260px;
	float:left;
	margin-left:50px;
	background-color:#eee;
}
.popular_img{
	height:150px;
	width:260px;
	margin-left:px;
	border-top-right-radius:7px;
	border-top-left-radius:7px;
	border:7px solid #FFF;
}
.back_image1{
	background:url(../images/loginback1.jpg);
	height:450px;
}
.back_image2{
	background:url(../images/backimage2.jpg);
	height:450px;
}
/* slider end here */
/* login page start here */
.loginback{
	background:url(../images/loginback.jpg);
	height:650px;
}
.login_header
{
	background-color:#eee;
	padding:10px;
	border-bottom:2px solid #D23030;
}
.text_box{
	font-weight:bold;

}
.select_box{
	width:100%;
	height:35px;
	font-size:13px;
	text-align:center;
	line-height:50px;
}
.reg_card{
	background-color:#4B4B49;
	margin-top:20px;
	border-radius:7px;
	box-shadow:1px 1px 10px 1px #fff;
}
.gender{
	background-color:#FFF;
	color:#333;
}

.signup_btn{
	padding:10px 50px !important;
	margin-left:10px;
}
.create_button{
	padding:10px 30px;
	margin-left:120px;
	margin-top:10px;
	margin-bottom:20px;
}
.login_button{
	padding:10px 40px;
	margin-left:180px;
	margin-top:-10px;
	margin-bottom:20px;
}
.login_btn_arrow1{
	margin-left:190px;
	margin-top:0px;
}
.create_btn_arrow{
	margin-left:130px;
	margin-top:13px;
}
/* login page end here */
.feature {
	color: #eee;
	height: 66px;
	line-height: 65px;
	text-align: center;
	width: 100%;
	margin: 0;
	background: #333;
	text-shadow: 0px 0px 8px;
	font-family: oswald;
}
.card
{
	background:url(../images/img1.jpg);
	height: 300px;
	box-shadow: 0 0 10px;
	margin-left:50px;
	border-radius: 5px;
	background-size:400px 300px;
	-webkit-transition:all 1s ease;
	-moz-transition:all 1s ease;
	transition:all 1s ease;
	padding:0;
}
.card:hover
{
	background-size:450px 350px !important;
	background-position:-50px -50px !important;
}
.dummy_card{
	background-color:#000;
	display:none;
	border-radius:5px;
}
.card:hover .dummy_card{
	display:block;
	opacity:0.5;
	height:100%;
}
.read_more{
	padding:10px 30px;
	margin-top:130px;
	margin-left:30%;
	background-color:transparent;
	color:red;
	font-weight:bold;
}
.row_caption {
	font-size: 40px;
	margin: 40px 67px 40px 67px;
	color: #D32F2F;
	font-family: "Oswald", sans-serif;
	font-weight:bold;
	line-height:40px;
	text-align:center;
	background: url(../images/section-title-bg.png);
}
/* workout start here */
.workout_2_row{
	margin-top:50px;
	padding:0;
}
.back_image{
	background:url(../images/loginback.jpg);
	height:750px;
}

.margin_top{
	margin-top:50px;
}
.margin_top1{
	margin-top:30px;
}
.login_button_fb{
	padding:10px 40px;
}
/* workout end here */
/* footer start here */
.footer
{
	border-top:3px solid #D32F2F;
	background:url(../images/footer_back.png);
	height:350px;
	padding:20px;
}
.title h3
{
	color: white;
	font-family: "Oswald",sans-serif;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 0;
	text-transform: uppercase;
}
.cateogry_link
{
	list-style-type:none;
	padding:0;
	margin-top:35px;
}
.cateogry_link li
{
	margin-top:20px;
}
.cateogry_link li a
{
	color:skyblue;
}
.cateogry_link > p
{
	color: skyblue;
}
.cateogry_link > i
{
	color: skyblue;
}
.footer-widget > p {
	color: skyblue;
	margin-top: 25px;
}
.secondobj {
	border: medium none;
	height: 450px;
	margin-left: 40px;
	width: 100%;
}
.obj1, .obj2
{
	border: 2px solid #ccc;
	height: 510px;
	margin-bottom: 14px;
	padding:0;
}
.objectcaption {
	text-align: center;
	font-family: oswald;
	font-size: 25px;
	padding-bottom: 14px;
	border-bottom: 1px solid #ccc;
	color: red;
	letter-spacing: 1px;
}
.show_object
{
	padding-left:26%;
	border: 0px solid #333;
	height: 430px;
	overflow:hidden;
	width:100%;

}
canvas
{
//margin-left:-91px;
}
#bmi_div div {
	height: 75px;
}
.drawer
{
	border-right:1px solid #d23030;
	height:1000px;
	padding: 0;
}
.drawertitle
{
	background: #FF423F;
	height:125px;
	text-align: center;
}
.fitbitprofilepic {
	height: 75px;
	margin: 10px 0 5px;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
}
.fitbitprofilename {
	font-family: Calibri;
	color: white;
	font-size: 19px;
	font-weight: bold;
}
.draweritem {
	cursor: pointer;
	font-size: 17px;
	font-weight: bold;
	list-style: outside none none;
	margin-top: 10px;
	padding:7px;
}
.draweractive
{
	background: #f23030 none repeat scroll 0 0;
	border-radius: 5px;
	color: white;
}
.draweritem:hover
{
	background: #f23030 none repeat scroll 0 0;
	border-radius: 5px;
	color: white;
}
.leftone
{
	float:left;
	font-size:19px;
}
.rightone
{
	float:right;
	font-size:19px;
	color:#777;
	line-height: 67px;
}
.itembox {
	border-radius: 5px;
	box-shadow: 0 0 10px #ccc;
	padding-bottom: 10px;
	height:100px;
	margin-left:5%;
	margin-top: 25px;
}
.stepprogress {
	background: #ccc none repeat scroll 0 0;
	border-radius: 5px;
	margin-left: 7%;
	padding: 0;
	width: 90%;
	height:20px;
}
.clear
{
	clear: both;
}
.dashcontainer {
	padding-bottom: 40px;
}
.averagestep {
	font-size: 17px;
	margin-left: 10px;
}
.accountname {
	font-size: 25px;
}
a
{
	color: inherit;
}
.nav.nav-tabs > li {
	font-size: 13px;
}
.nav.nav-tabs {
	margin-top: 26px;
}
.active {
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;
	color: #f00;
	font-weight: bold;
}
.captionhead {
	color: #777;
	font-family: calibri;
	font-size: 19px;
	font-weight: bold;
	margin-bottom: 25px;
	margin-top: 25px;
}
.description {
	color: #777;
	font-size: 13px;
	margin-left: 15px;
}
.shortname {
	font-size: 17px;
	font-weight: bold;
	margin-left: 15px;
	margin-top: 25px;
}
.badgeImage {
	float: left;
}
.nodata {
	color: #f23030;
	font-size: 22px;
	font-weight: bold;
	letter-spacing: 1px;
	margin-top: 175px;
	text-align: center;
}